.writePage {
  margin: 0 auto;
}

.writeInsert {
  width: 900px;
  height: 500px;
  margin: 0 auto;
}

.writeInsert > .boardTitle {
  width: 500px;
  height: 30px;
  margin: 100px auto 50px auto;
  display: flex;
}

.writeInsert > .boardDetail {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  display: flex;
}

.writeInsert > button {
  background: rgb(255, 252, 71);
  color: black;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  display: block;
  margin: 30px auto 0px auto;
}