.common-table {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border-spacing: 0px;
}

.common-table-header-column {
  border-bottom: 1px solid #7a7a7a;
  padding: 0;
  font-size: 16px;
  padding: 10px 5px;
  font-weight: bold;
}

.common-table-row {
  color: #7a7a7a;
}

.common-table-row:hover {
  background-color: #eceaea;
  cursor: pointer;
  color: black;
  font-weight: 700;
}

.common-table-column {
  border-bottom: 1px solid #e8e8e8;
  padding: 30px 5px;
}

.common-table-column > a {
  text-decoration: none;
  color: #7a7a7a;
}

.common-table-column > a:hover {
  color: black;
  font-weight: 700;
}
